---
// 1. Create a new file at <project-directory>/src/pages/index.astro
// 2. Copy-and-paste this entire file (including `-` dashes) into it.
---
<html>
  <body>
    <h1>Hello, World!</h1>
  </body>
</html>